body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

/* Container */
.container {
	max-width: 1000px;
	margin: 0 auto;
}

/* Header */
.title-logo {
	margin-top: 75px;
}
.title-super {
	font-size: 60px;
	margin-top: 50px;
}
.text-thin {
	font-weight: 100;
}

/* Section */
hr {
	background-color: #bcbbbb;
	border-width: 4px 0px 0px;
	border-top-width: 4px;
	margin-top: 10px;
	margin-bottom: 30px;
}
h2 {
	margin-top: 40px;
	margin-bottom: 20px;
}
.text-muted {
	color: #bcbbbb;
}

/* Footer */
.img-centered {
	margin-left: auto;
	margin-right: auto;
}
.text-thick {
	font-weight: 400;
}
.text-md {
	font-size: 30px
}





